<div class="drink-box py-3">
    <div class="drink-pic pt-2 pb-2">
        <a class="chosen-drink" id="chosen-drink-{{@index}}" style="cursor: pointer;" data-toggle="modal" data-target= {{#unless admin}} "#orderModal" {{else}} "#edit-item-modal" {{/unless}}>
            <img class="image" id="drink-pic-{{@index}}" src="{{picture}}"> 
            {{#if admin}}
                <div class="middle"><label>EDIT</label></div>
            {{/if}}
        </a>
    </div>
    <div class="drink-name">
        <label class="drink-name" id="drink-name-{{@index}}">{{name}}</label>
    </div>
    <div class="prices">
        <label class="price-label" id="price-tall-{{@index}}">{{pricelist.tall}}</label> •
        <label class="price-label" id="price-grande-{{@index}}">{{pricelist.grande}}</label> •
        <label class="price-label" id="price-venti-{{@index}}">{{pricelist.venti}}</label> 
    </div>
</div>