<div class="content">
    <div class="side-nav pt-4">
        <table id="side-menu">
            <tr>
                <td> <a href="user/{{#if isAdmin}} admin {{else}} customer {{/if}}/menu/espresso" {{#if_equal category 'Espresso'}} class="active" {{/if_equal}}>Espresso</a></td>
            </tr>
            <tr>
                <td><a href="user/{{#if isAdmin}} admin {{else}} customer {{/if}}/menu/chocolate" {{#if_equal category 'Chocolate'}} class="active" {{/if_equal}}>Chocolate</a></td>
            </tr>
            <tr>
                <td><a href="user/{{#if isAdmin}} admin {{else}} customer {{/if}}/menu/teavana-teas" {{#if_equal category 'Teavana Teas'}} class="active" {{/if_equal}}>Teavana Teas</a></td>
            </tr>
            <tr>
                <td><a href="user/{{#if isAdmin}} admin {{else}} customer {{/if}}/menu/frappuccino" {{#if_equal category 'Frappuccino'}} class="active" {{/if_equal}}>Frappuccino</a></td>
            </tr>
            <tr>
                <td><a href="user/{{#if isAdmin}} admin {{else}} customer {{/if}}/menu/coffee-craft" {{#if_equal category 'Coffee Craft'}} class="active" {{/if_equal}}>Coffee Craft</a></td>
            </tr>
        </table>
    </div>

    <div class="menu p-5">

        {{#each drinks}}
            {{> drink-container admin=../isAdmin}}
        {{/each}}
        
        {{#if isAdmin}}
            <div class="drink-box py-3">
                <div class="drink-plus pt-2 pb-2">
                    <a style="cursor: pointer;" data-toggle="modal" data-target="#add-item-modal">
                        <img id="plus" src="/images/logos/white-plus-png-5.png">
                    </a>
                </div>
                <div class="drink-name">
                    <label>Add a Drink</label>
                </div>
            </div>

        {{else}}
            <a id="checkout" href="user/customer/cart">PROCEED TO CHECKOUT</a>
        {{/if}}
    </div>  
</div>