<div class = "content">
    <h1 class="pb-4" style="color:#0b421a; text-align:center"> <b>HISTORY OF TRANSACTIONS</b></h1>
        <table class="pb-4" id = "transaction">  
            <tr> 
                <th> Date </th>
                <th> Order Number </th>
                <th> Drink </th> 
                <th> Size </th>
                <th> Quantity </th> 
                <th> Price </th> 
            </tr> 

            {{#each orders}}
                {{#each orders.cart}}
                    {{#each orders.cart.drinks}}
                        <tr> 
                            <td class="date"> {{../../orders.orderdate}} </td>  
                            <td class="order-num"> 000010 </td>  
                            <td class="drink-name"> {{drinks.drink.name}} </td>
                            <td class="drink-size"> {{drinks.size}} </td> 
                            <td class="drink-quant"> {{drinks.quantity}} </td> 
                            <td class="drink-price"> PHP {{cart.totalprice}} </td>
                        </tr> 
                    {{/each}}
                {{/each}}
            {{/each}}
        </table>
</div>

{{> footer}}
