<div class="content">
    <div class="content-box">
        <div class ="profile"> 
            <div class="left">
                <img id="dp" class ="content-displaypicture" src="/images/uploads/default.png" alt="Avatar">
            </div>
            <div class="right">
                <label>Name: <span class="user full-name">{{user.fullname}}</span></label>
                <label>Nickname: <span class="user full-name">{{user.nickname}}</span></label>
            </div>  
        </div>
    </div>
    <div class="my-favorites">
        <label id="favorites-header">My Favorites:</label>
        <div class="content-box drinks">
            {{#if favorites}}
                {{#each favorites}}  
                    <div class="drink-container">
                        <div class="drink-pic pt-2 pb-2">
                            <div role="button" class="minus" id="delete-drink-{{_id}}" data-toggle="modal" data-target="#deleteModal">x</div>
                            <a data-toggle="modal" data-target="#editFaveModal" width="0px">
                                <img class="image" src="{{picture}}" alt="drink-pic">
                            </a>   
                        </div>
                        <div class="drink-name-container">
                            <label class="drink-name" id="drink-name-{{_id}}">{{name}}</label>
                        </div>
                    </div>
                    
                    {{#if_equal_index (counter @index) ../favorites.length }}
                        {{#if_less ../favorites.length "5" }}
                            <div class="drink-container">
                                <div class="plus-cont pt-2 pb-2">
                                    <a data-toggle="modal" data-target="#addToFave" width="0px">
                                        <img class="plus" src="images/icons/white-plus-png-5.png" alt="drink-pic">
                                    </a>   
                                </div>
                                <div class="drink-name-container">
                                    <label class="drink-name">Add a drink</label>
                                </div>
                            </div>
                        {{/if_less}}
                    {{/if_equal_index}}
                {{/each}}
            {{else}}
                <div class="drink-container">
                    <div class="plus-cont pt-2 pb-2">
                        <a data-toggle="modal" data-target="#addToFave" width="0px">
                            <img class="plus" src="images/icons/white-plus-png-5.png" alt="drink-pic">
                        </a>   
                    </div>
                    <div class="drink-name-container">
                        <label class="drink-name">Add a drink</label>
                    </div>
                </div>
            {{/if}}
            
        </div>
    </div>
</div>
        

<!--MODAL FOR EDIT-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style = "background-color: #0b421a;">
            <div class="modal-header" style="border-bottom: none;">
                <h3 class="modal-title" id="deleteModalTitle" style="color: white;"><b>Are you sure you want to remove <span id="drink-delete"></span> from 
                your favorites?</b></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-5" style="color: white; border-top:none;">
                <button id="yesDelete" class="decisionDelete">Yes</button>
                <button id="noDelete" class="decisionDelete" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addToFave" tabindex="-1" role="dialog" aria-labelledby="addToFave" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" >
            <div class="modal-header"style = "background-color: #0b421a">
                <h3 class="modal-title text-center" id="editFaveModalTitle" style="color:white"><b>My Favorites</b></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"style = "background-color: #0b421a">
                <div class="input pb-2">
                    <div>
                        <form>
                            {{#each drinks}}
                                {{!-- Category: {{drink.[0].category}} --}}
                                {{#if_equal @index 0}}
                                    <p class="mainCategory"><b>{{this.category}}</b><hr class="new1"></p>
                                    <div class="drinks">
                                        <label>
                                            <input type="radio" name="drinks" value="{{this.name}}">
                                            {{this.name}}
                                        </label>
                                {{else}} 
                                    {{#if_equal_index (counter @index) ../drinks.length }}
                                        <div class="drinks">
                                                <label>
                                                    <input type="radio" name="drinks" value="{{this.name}}">
                                                    {{this.name}}
                                                </label>
                                        </div>
                                    {{else}}
                                        {{#if_equal this.category (getPreviousCategory ../drinks @index)}}
                                            <label>
                                                <input type="radio" name="drinks" value="{{this.name}}">
                                                {{this.name}}
                                            </label>
                                        {{else}}
                                        </div>
                                            <p class="mainCategory"><b>{{this.category}}</b><hr class="new1"></p>
                                            <div class="drinks">
                                                <label>
                                                    <input type="radio" name="drinks" value="{{this.name}}">
                                                    {{this.name}}
                                                </label>
                                        {{/if_equal}}
                                    {{/if_equal_index}}
                                    
                                {{/if_equal}}
                            {{/each}}
                            <div class="modal-footer"style = "background-color: #0b421a">
                                <label id="err-fav" style="color: rgb(248, 248, 115)"></label>
                                <input type="button" id="addToFav" value="Add to Favorites" class="btn btn-secondary" style = "background-color:white; color: green">   
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- {{> footer}} --}}