<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

    <!-- Custom -->
    <link rel="stylesheet" type="text/css" media="all" href="/css/header-footer.css">
    {{#unless isAdmin}}
        <link rel="stylesheet" type="text/css" media="all" href="/css/content-order.css">
    {{else}}
        <link rel="stylesheet" type="text/css" media="all" href="/css/update-menu.css">
    {{/unless}}
    {{#if js}}
        <script type="text/javascript" src="/js/{{js}}"></script>
    {{/if}}
    <title>{{title}}</title>

    <base href="/">
</head>
<body>
    {{#unless isAdmin}}
        {{> customer-header}}
    {{else}}
        {{> admin-header}}
    {{/unless}}
    
    {{{body}}}

    {{#unless isAdmin}}
        <div id="orderbox">
            <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content" style="border:none; background-color: #0b421a">
                        <div class="modal-header" style = "background-color: #0b421a">
                            <form style="width: 600px">
                                <div style="display: flex; flex-direction: column" class="modal-header"style = "background-color: #0b421a">
                                    <div style="display: inherit; width: 100%">
                                        <h3 class="modal-title text-center" id="exampleModalLongTitle" style="color:white"><b><span id="chosen-drink-name"></span></b></h3>
                                        
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    
                                    <label class="pt-3" style="color: rgba(255, 255, 255, 0.781); font-style: italic">Please indicate in the requests textbox if you want your drink to be hot.</label>
                                </div>
                                
                                <div class="modal-body"style = "background-color: #0b421a">
                                    <div class="input pb-2">
                                        <label class="input-label" style="color:white"><b>Size:</b></label>
                                        <select id="sizes" style="border-radius:10px">
                                            <option value = "Venti"> Venti </option>
                                            <option value = "Grande"> Grande </option>
                                            <option value = "Tall"> Tall </option>
                                        </select>
                                    </div>
                                    <div class="input pb-2">
                                        <label class="input-label"style="color:white"><b>Quantity:</b></label>
                                        <select id="quantity" style="border-radius:10px">
                                            <option value = "1"> 1 </option>
                                            <option value = "2"> 2 </option>
                                            <option value = "3"> 3 </option>
                                            <option value = "4"> 4 </option>
                                            <option value = "5"> 5 </option>
                                            <option value = "6"> 6 </option>
                                            <option value = "7"> 7 </option>
                                            <option value = "8"> 8 </option>
                                            <option value = "9"> 9 </option>
                                            <option value = "10"> 10 </option>
                                        </select>
                                    </div>
                                    <div class="input pb-2">
                                        <label class="input-label"style="color:white"><b>Requests:</b></label>
                                        <textarea id="request" rows="3" cols="25" style="border-radius:10px; vertical-align:top"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer"style = "background-color: #0b421a">
                                    <h5 style="color:white">Price: <span style = "font-weight: 700" id="price"> PHP <span id="total-price"></span>.00 </h5>
                                    <a type="button" id="order-btn" class="btn btn-secondary" data-dismiss="modal" style = "background-color:white; color: green">
                                        <b>Order</b>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{else}}
        <div class="updatebox">
            <div class="modal modal-add fade" id="add-item-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content" >
                        <div class="modal-header">
                            <h3 class="modal-title text-center" id="exampleModalLongTitle" style="color:#0b421a"><b>Add a Drink:</b></h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#0b421a">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        <form action="/admin/menu/addDrink" method="POST" class="addDrinkForm" enctype="multipart/form-data" >

                            <textarea style="display: none;" type="text" class="categ" id="category" name="category">{{category}}</textarea>
                            <div class = "leftie m-3" style="display: flex;">
                                <img class="currpic" id="newavatar" src="/images/icons/pic.png" width="110px" height="110px"/>
                                <input id="drinkPic" class="uploadimage" type="file" name="drinkPic" style="margin:auto">
                            </div>
                            <div class="rightie">
                                <div class="input pb-2">
                                    <label class="input1" style="color:#0b421a">Name of Drink:</label>
                                    <input name ="drinkName" id="drinkName" type="text"></input>
                                </div>
                                <div class="box">
                                    <div class="input pb-2">
                                        <label class="sizes" style="color:#0b421a"><b> Tall:</b></label>
                                        <input name ="tallPrice" id="tallPrice" type="text" class="small"></input>
                                    </div>
                                    <div class="input pb-2">
                                        <label class="sizes" style="color:#0b421a"><b> Grande:</b></label>
                                        <input name ="grandePrice" id="grandePrice" type="text" class="small"></input>
                                    </div>
                                    <div class="input pb-2">
                                        <label class="sizes" style="color:#0b421a"><b> Venti:</b></label>
                                        <input name ="ventiPrice" id="ventiPrice" type="text" class="small"></input>
                                    </div>
                                </div>
                                <div class="messageDiv">
                                    <label class="messageModal"></label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" value="Add" id="addDrinkBtn" class="btn btn-secondary" style = "background-color:#0b421a; color: white">
                            </div>
                        </form>
                    </div>
                </div>
            </div> 
        </div>
        

        <div data-dismiss="modal">
            <div class="updatebox">
                <div class="modal fade" id="edit-item-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content" >
                            <div class="modal-header">
                                <h3 class="modal-title text-center" id="exampleModalLongTitle"><b>Edit Drink:</b></h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#0b421a">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="/admin/menu/updateDrink" method="POST" class="updateDrinkForm" enctype="multipart/form-data" >
                                <input id="chosenPriceId" type="hidden" value="">
                                <div class="modal-body">
                                    <input id="drinkId" type="hidden">
                                    <input id="pricelistId" type="hidden">
                                    <textarea style="display: none;" type="text" class="categ" id="category" name="category">{{category}}</textarea>
                                    <div class = "leftie">
                                        <img class="currpic" id="drink-pic" src="" width="110px" height="110px"/>
                                        <input id="updateDrinkPic" class="uploadimage" type="file" name="updateDrinkPic">
                                    </div>
                                    <div class="rightie">
                                        <div class="input pb-2">
                                            <label class="input1" style="color:#0b421a"><b>Name of Drink:</b></label>
                                            <input id="updateDrinkName" name = "updateDrinkName" type="text" placeholder=""></input>
                                        </div>
                                        <div class="box">
                                            <div class="input pb-2">
                                                <label class="sizes" style="color:#0b421a"><b> Tall:</b></label>
                                                <input name = "updateTallPrice" id = "updateTallPrice" type="text" class="small size" placeholder=""></input>
                                            </div>
                                            <div class="input pb-2">
                                                <label class="sizes" style="color:#0b421a"><b> Grande:</b></label>
                                                <input name = "updateGrandePrice" id = "updateGrandePrice" type="text" class="small size" placeholder=""></input>
                                            </div>
                                            <div class="input pb-2">
                                                <label class="sizes" style="color:#0b421a"><b> Venti:</b></label>
                                                <input name = "updateVentiPrice" id = "updateVentiPrice" type="text" class="small size" placeholder=""></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="messageDiv">
                                        <label class="messageModal"></label>
                                    </div>
                                </div>
                                <div class="modal-footer edit">
                                    <input type="button" id="delete-btn" class="btn btn-secondary" onclick="openDeleteModal()" style = "background-color:rgb(179, 6, 6); color: white" value="Delete">
                                    <input type="submit" id="update-btn" class="btn btn-secondary" style = "background-color:#0b421a; color: white" value="Update">
                                </div>
                            </form>
                        </div>
                    </div>
                </div> 
            </div>
        </div>

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style = "background-color: #0b421a;">
                    <div class="modal-header" style="border-bottom: none;">
                        <h3 class="modal-title" id="deleteModalTitle" style="color: white;"><b>Are you sure you want to remove <span id="drink-name">Iced Shaken Hibiscus with Pomegranate Pearl</span>?</b></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-5" style="color: white; border-top:none;">
                        
                        <button id="yesDelete" class="decisionDelete" data-dismiss="modal">Yes</button>
                        <button id="noDelete" class="decisionDelete" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    {{/unless}}
</body>
</html>